---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Projects from '../components/Projects.astro';
import Footer from '../components/Footer.astro';
---
<Layout>
  <main class="container py-12 md:py-16">
    <Navbar />
    <Hero />
    <About />
    <Projects />
    <Footer />
  </main>
</Layout>
