---
const skills = [
  "Webflow",
  "Prototyping",
  "JavaScript",
  "React",
  "UX"
];

const quests = [
  {
    title: "Twitch based text game - FeelsRaidMan",
    url: "https://feelsraidman.lol",
  },
  {
    title: "Learning Elixir",
  }
];
---
<section>
    <div>
      <h3 class="text-xl mb-3">Skills</h3>
      <p class="text-base sm:text-lg text-white/80">{skills.join(" • ")}</p>
    </div>

    <div class="my-3">
      <h3 class="text-xl mb-3">Current Quests</h3>
      <p class="text-base sm:text-lg text-white/80">
        {quests.map((quest, i) => (
          <>
            {quest.url ? (
              <a
                href={quest.url}
                target="_blank"
                rel="noopener noreferrer"
                class="hover:text-my-green transition-colors underline"
              >
                {quest.title}
              </a>
            ) : (
              <span>{quest.title}</span>
            )}
            {i < quests.length - 1 && " • "}
          </>
        ))}
      </p>
    </div>
</section>
