---
import { Icon } from "astro-icon/components";
---
<footer class="pt-8 sm:pt-16 pb-8">
  <div class="flex items-center justify-center gap-4">
    <a
      href="https://github.com/zalivo?tab=repositories"
      target="_blank"
      rel="noopener noreferrer"
      class="text-white hover:text-my-green transition-colors"
      aria-label="GitHub"
    >
      <Icon name="lucide:github" size={24} />
    </a>
    <a
      href="https://www.linkedin.com/in/ivo-%C5%BEaloudek-18a394216/"
      target="_blank"
      rel="noopener noreferrer"
      class="text-white hover:text-my-green transition-colors"
      aria-label="LinkedIn"
    >
      <Icon name="lucide:linkedin" size={24} />
    </a>
    <a
      href="mailto:izaloudek5@gmail.com"
      class="text-white hover:text-my-green transition-colors"
      aria-label="Email"
    >
      <Icon name="lucide:mail" size={24} />
    </a>
  </div>
</footer>
