---
import '@fontsource/space-grotesk';
import '../styles/global.css';

interface Props {
  title?: string;
}

const { title = "Ivo Žaloudek" } = Astro.props;
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title}</title>
  </head>
  <body class="font-grotesk">
    <slot />
  </body>
</html>
